$primary-color: #ad2c2c;
$sec_bg: #fcf4f4;
$sec_border: #eedfdf;
$grey: #efefef;
$color: #272727;
$color1: #c69e66;
$color2: #7b4624;
$color3: #faf8f0;
$color4: #89927d;
$black: #000;
$heading: #272727;
$text: #121212;
$white: #fff;
$b-color: #575757;
$f_bg: #231f20;
$font: "Regular";
$shadow: 0 4rem 3rem rgba($black, 0.05);
$shadow2:
  0 0.7rem 3.5rem -0.5rem rgba($black, 0.1),
  0 -0.5rem 1rem -0.6rem rgba($black, 0.1);
$shadow3: 0.5rem 0.8rem 4.6rem 0.5rem rgba(96, 49, 217, 0.1);
