.banner {
  background-image: url(/images/banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  &::before {
    @include pos;
    background: #00000040;
    content: "";
    width: 100%;
    height: 100%;
  }
  .content {
    padding-top: 130px;
    max-width: 500px;
    h1 {
      font-family: "cBold";
      font-size: 50px;
      color: $white;
    }
    p {
      margin-top: 16px;
      font-size: 18px;
      color: $white;
    }
    .bTn {
      padding-left: 0;
      margin-top: 25px;
      li {
        list-style: none;
      }
    }
  }
}
