header {
  .search {
    display: flex;
    align-items: center;
    background: #acacac;
    min-width: 127px;
    height: 4.4rem;
    padding: 0 1rem;
    font-family: oRegular;
    overflow: hidden;
    @include radius(100px);
    input {
      width: 100%;
      border: none;
      background: transparent;
      color: #fff;
      &::placeholder {
        color: $white;
      }
    }
    button {
      background: transparent;
      border: none;
      color: #fff;
    }
  }
}
.banner {
  background-image: url(/images/banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    @include pos;
    background: #00000054;
    content: "";
    width: 100%;
    height: 100%;
  }
  .content {
    padding-top: 110px;
    max-width: 500px;
    h1 {
      font-family: "cBold";
      font-size: 50px;
      color: $white;
    }
    p {
      margin-top: 16px;
      font-size: 18px;
      color: $white;
    }
    .bTn {
      padding-left: 0;
      margin-top: 25px;
      li {
        list-style: none;
      }
    }
  }
}

.sec_grids {
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 0px 50px;
      text-align: center;
      .inner {
        .image {
          width: 50px;
          margin: 0 auto;
          margin-bottom: 15px;
        }
        p {
          font-size: 17px;
        }
      }
    }
  }
}
.main_heading {
  h2 {
    font-family: "cBold";
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    font-size: 44px;
    img {
      width: 110px;
      margin-top: 9px;
    }
  }
}
.sec_about {
  padding-top: 0;
  padding-bottom: 3rem;
  .content {
    max-width: 643px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    .mini_title {
      p {
        color: $primary-color;
        font-size: 18px;
        font-family: "SemiBold";
        margin-bottom: 6px;
      }
    }
    p {
      color: #545454;
    }
    .up_space {
      margin-bottom: 18px;
    }
  }
}
.image_grids {
  padding-top: 0;
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 10px;

      .inner {
        .site_btn {
          height: 3.9rem;
          &:hover {
            background: $primary-color !important;
            border: 1px solid $primary-color !important;
          }
        }
        .image {
          position: relative;
          padding-bottom: 141%;
          overflow: hidden;
          @include radius(10px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &::before {
            @include pos;
            content: "";
            background: linear-gradient(to bottom, transparent, #000);
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          .content {
            @include pos($t: null, $r: null);
            padding: 20px;
            z-index: 2;
            h4 {
              color: $white;
              font-family: "cMedium";
              font-size: 30px;
            }
            p {
              color: $white;
              font-size: 15px;
              margin-bottom: 15px;
            }
            .site_btn {
              background: transparent;
              border: 1px solid #fff;
              @include radius(4px);
            }
          }
        }
      }
    }
  }
}
.work_grids {
  padding-top: 0;
  .text {
    max-width: 803px;
    margin: 0 auto 20px;
    text-align: center;
  }
  .flex {
    .cols {
      width: calc(100% / 4);
      padding: 10px;
      .inner {
        .image {
          width: 50px;
          margin: 0 auto;
          margin-bottom: 16px;
        }
        .content {
          text-align: center;
          h4 {
            font-family: "Medium";
            font-size: 18px;
          }
          p {
            font-size: 15px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.sec_cta {
  .main_heading {
    text-align: left;
    margin-bottom: 20px;
    h2 {
      justify-content: left;
    }
  }
  .col1 {
    width: 78%;
    padding-right: 185px;
    p {
      margin-bottom: 0;
    }
  }
  .col2 {
    width: 22%;
    .btn1 {
      margin-bottom: 15px;
    }
  }
}
.measurments {
  padding-top: 0;
  .main_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .headings {
      max-width: 700px;
      h2 {
        justify-content: left;
      }
    }
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 10px;
      .inner {
        .image {
          position: relative;
          padding-bottom: 90%;
          overflow: hidden;
          margin-bottom: 20px;
          @include radius(10px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h4 {
          font-family: "Medium";
          font-size: 18px;
        }
        .title {
          p {
            color: $primary-color;
          }
        }
      }
    }
  }
  .img {
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
    margin-bottom: 20px;
    @include radius(10px);
    img {
      @include pos;
      content: "";
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.sec_made {
  padding-top: 0;
  .main_heading {
    text-align: center;
    margin-bottom: 25px;
  }
  .image {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
    margin-bottom: 20px;
    @include radius(10px);
    img {
      @include pos;
      content: "";
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .slick-arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    bottom: 33px;
    border: none;
    background: #ffffff94;
    display: flex;
    align-items: center;
    justify-content: center;
    @include radius(100%);
    &.custom-prev {
      right: 50px;
      z-index: 1;
    }
  }
}
.testimonials {
  padding: 0;
  .main_heading {
    max-width: 826px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .inner {
    max-width: 617px;
    text-align: center;
    padding: 30px 48px;
    background: rgba(215, 207, 194, 0.33);
    margin: 0 auto;
    @include radius(5px);
    border: 1px solid #dedede;
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
    .list {
      display: flex;
      justify-content: center;
      li {
        width: 50px;
        height: 50px;
        @include radius(100%);
        border: 1px solid rgba(174, 174, 174, 1);
        overflow: hidden;
        &:nth-child(2) {
          margin-left: -20px;
        }
        &:last-child {
          margin-left: -20px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    p {
      font-family: "oMedium";
    }
    .stars {
      display: flex;
      align-items: center;
      gap: 5px;
      ul {
        display: flex;
        align-items: center;
        gap: 2px;
        li {
          width: 15px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10%;
    bottom: 40%;
    border: none;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    @include radius(100%);
    &.custom-prev {
      right: unset;
      left: 10%;
      z-index: 1;
    }
  }
}
.tailored {
  .main_heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 5px;
      .inner {
        .image {
          position: relative;
          padding-bottom: 90%;
          overflow: hidden;
          margin-bottom: 20px;
          @include radius(5px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h4 {
          font-family: "cMedium";
          font-size: 20px;
          text-transform: uppercase;
          color: #000;
        }
        .title {
          p {
            color: $primary-color;
          }
        }
      }
    }
  }
}
.contact {
  padding-bottom: 0;
  .main_heading {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .col1 {
    width: 40%;
    padding-right: 40px;
    h3 {
      font-family: "cMedium";
    }
  }
  .col2 {
    width: 60%;
    .form {
      h3 {
        font-family: "cMedium";
        margin-bottom: 20px;
      }
      background: #f1eee9;
      border: 1px solid #f0f0f0;
      padding: 20px;
      @include radius(10px);
      .txtGrp {
        margin-bottom: 10px;
      }
      button {
        margin-top: 20px;
        border: none;
      }
    }
  }
}
.sec_result {
  .main_heading {
    max-width: 368px;
    margin-bottom: 10px;
    padding-left: 10px;
    h2 {
      justify-content: left;
    }
  }
  .flex {
    .col1 {
      width: 20%;
      padding-right: 5px;
      .inside {
        background: #f1eee9;
        padding: 15px;
        @include radius(4px);
        .image {
          position: relative;
          padding-bottom: 97%;
          overflow: hidden;
          margin-bottom: 20px;
          @include radius(10px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        ul {
          padding-left: 0;

          li {
            list-style: none;
            h5 {
              font-family: "oRegular";
              font-size: 15px;
              color: $primary-color;
              margin-bottom: 5px;
            }
            p {
              font-size: 14px;
            }
          }
        }
        a {
          color: $primary-color;
          font-family: "oBold";
          text-align: center;
          text-decoration: underline;
          @include trans;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    .col2 {
      width: 80%;
      padding-left: 10px;
      .flex {
        .cols {
          width: calc(100% / 3);
          padding: 5px;
          .inner {
            background: #f1eee9;
            @include radius(4px);
            overflow: hidden;
            .image {
              position: relative;
              padding-bottom: 90%;
              overflow: hidden;
              margin-bottom: 20px;
              @include radius(5px);
              img {
                @include pos;
                content: "";
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .tag {
                @include pos($l: 15px, $t: 15px, $b: null, $r: null);
                background: $primary-color;
                color: $white;
                padding: 3px 9px;
                font-size: 13px;
                @include radius(3px);
                p {
                  margin-bottom: 0;
                  font-family: "oMedium";
                }
              }
            }
            .content {
              padding: 15px;
              .site_btn {
                background: transparent;
                border: 1px solid #000;
                color: $black;
                @include radius(0);
              }
            }
            h4 {
              font-family: "cMedium";
              font-size: 20px;
              text-transform: uppercase;
              color: #000;
            }
          }
        }
      }
    }
  }
}
.sec_select {
  background: $black;
  color: $white;
  padding: 2rem 0;
  margin-bottom: 10px;
  .col1 {
    width: 78%;
    padding-right: 185px;
    align-self: center;
    p {
      margin-bottom: 0;
    }
  }
  .col2 {
    width: 22%;
    margin-left: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
    .trans_btn {
      background: transparent;
      color: $white;
      border: 1px solid $white;
    }
    .site_btn {
      &:hover {
        background: $primary-color;
      }
    }
  }
}
