.tableDv {
  display: table;
  width: 100%;
  height: 100%;
  .tableCell {
    display: table-cell;
    vertical-align: middle;
    .crosBtn {
      position: absolute;
      top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 20px;
      width: 23px;
      height: 23px;
      padding: 3px;
      color: $white;
      font-size: 13px;
      text-align: center;
      cursor: pointer;
      background: $black;
      @include radius(100%);
      z-index: 5;
      &:before {
        content: "\2715";
        line-height: 1;
      }
    }
  }
}
header {
  .search {
    display: flex;
    align-items: center;
    background: #acacac;
    min-width: 127px;
    height: 4.4rem;
    padding: 0 1rem;
    font-family: oRegular;
    overflow: hidden;
    @include radius(100px);
    input {
      width: 100%;
      border: none;
      background: transparent;
      color: #fff;
      &::placeholder {
        color: $white;
      }
    }
    button {
      background: transparent;
      border: none;
      color: #fff;
    }
  }
}
.banner {
  background-image: url(/images/banner_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    @include pos;
    background: #00000054;
    content: "";
    width: 100%;
    height: 100%;
  }
  .content {
    padding-top: 110px;
    max-width: 500px;
    h1 {
      font-family: "cBold";
      font-size: 50px;
      color: $white;
    }
    p {
      margin-top: 16px;
      font-size: 18px;
      color: $white;
    }
    .bTn {
      padding-left: 0;
      margin-top: 25px;
      li {
        list-style: none;
      }
    }
  }
}

.sec_grids {
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 0px 50px;
      text-align: center;
      .inner {
        .image {
          width: 50px;
          margin: 0 auto;
          margin-bottom: 15px;
        }
        p {
          font-size: 17px;
        }
      }
    }
  }
}
.main_heading {
  h2 {
    font-family: "cBold";
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: center;
    font-size: 42px;
    img {
      width: 110px;
      margin-top: 9px;
    }
  }
}
.sec_about {
  padding-top: 0;
  padding-bottom: 3rem;
  .content {
    max-width: 643px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 15px;
    .mini_title {
      p {
        color: $primary-color;
        font-size: 18px;
        font-family: "SemiBold";
        margin-bottom: 6px;
      }
    }
    p {
      color: #545454;
    }
    .up_space {
      margin-bottom: 18px;
    }
  }
}
.image_grids {
  padding-top: 0;
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 10px;

      .inner {
        .site_btn {
          height: 3.9rem;
          &:hover {
            background: $primary-color !important;
            border: 1px solid $primary-color !important;
          }
        }
        .image {
          position: relative;
          padding-bottom: 141%;
          overflow: hidden;
          @include radius(10px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &::before {
            @include pos;
            content: "";
            background: linear-gradient(to bottom, transparent, #000);
            width: 100%;
            height: 100%;
            z-index: 1;
          }
          .content {
            @include pos($t: null, $r: null);
            padding: 20px;
            z-index: 2;
            h4 {
              color: $white;
              font-family: "cMedium";
              font-size: 30px;
            }
            p {
              color: $white;
              font-size: 15px;
              margin-bottom: 15px;
            }
            .site_btn {
              background: transparent;
              border: 1px solid #fff;
              @include radius(4px);
            }
          }
        }
      }
    }
  }
}
.work_grids {
  padding-top: 0;
  padding-bottom: 0;
  .text {
    max-width: 803px;
    margin: 0 auto 20px;
    text-align: center;
  }
  .flex {
    .cols {
      width: calc(100% / 4);
      padding: 10px;
      .inner {
        .image {
          width: 50px;
          margin: 0 auto;
          margin-bottom: 16px;
        }
        .content {
          text-align: center;
          h4 {
            font-family: "Medium";
            font-size: 18px;
          }
          p {
            font-size: 15px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.sec_cta {
  .main_heading {
    text-align: left;
    margin-bottom: 20px;
    h2 {
      justify-content: left;
    }
  }
  .col1 {
    width: 78%;
    padding-right: 185px;
    p {
      margin-bottom: 0;
    }
  }
  .col2 {
    width: 22%;
    .btn1 {
      margin-bottom: 15px;
    }
  }
}
.measurments {
  .main_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .headings {
      max-width: 700px;
      h2 {
        justify-content: left;
      }
    }
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 10px;
      .inner {
        .image {
          position: relative;
          padding-bottom: 90%;
          overflow: hidden;
          margin-bottom: 20px;
          @include radius(10px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h4 {
          font-family: "Medium";
          font-size: 18px;
        }
        .title {
          p {
            color: $primary-color;
          }
        }
      }
    }
  }
  .img {
    position: relative;
    padding-bottom: 30%;
    overflow: hidden;
    margin-bottom: 20px;
    @include radius(10px);
    img {
      @include pos;
      content: "";
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.sec_made {
  padding-top: 0;
  .main_heading {
    text-align: center;
    margin-bottom: 25px;
  }
  .image {
    position: relative;
    padding-bottom: 60%;
    overflow: hidden;
    margin-bottom: 20px;
    @include radius(10px);
    img {
      @include pos;
      content: "";
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .slick-arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10px;
    bottom: 33px;
    border: none;
    background: #ffffff94;
    display: flex;
    align-items: center;
    justify-content: center;
    @include radius(100%);
    &.custom-prev {
      right: 50px;
      z-index: 1;
    }
  }
}
.testimonials {
  padding: 0;
  .main_heading {
    max-width: 826px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .inner {
    max-width: 617px;
    text-align: center;
    padding: 30px 48px;
    background: rgba(215, 207, 194, 0.33);
    margin: 0 auto;
    @include radius(5px);
    border: 1px solid #dedede;
    ul {
      padding-left: 0;
      li {
        list-style: none;
      }
    }
    .list {
      display: flex;
      justify-content: center;
      li {
        width: 50px;
        height: 50px;
        @include radius(100%);
        border: 1px solid rgba(174, 174, 174, 1);
        overflow: hidden;
        &:nth-child(2) {
          margin-left: -20px;
        }
        &:last-child {
          margin-left: -20px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    p {
      font-family: "oMedium";
    }
    .stars {
      display: flex;
      align-items: center;
      gap: 5px;
      ul {
        display: flex;
        align-items: center;
        gap: 2px;
        li {
          width: 15px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 10%;
    bottom: 40%;
    border: none;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    @include radius(100%);
    &.custom-prev {
      right: unset;
      left: 10%;
      z-index: 1;
    }
  }
}
.tailored {
  .main_heading {
    text-align: center;
    margin-bottom: 20px;
  }
  .flex {
    .cols {
      width: calc(100% / 3);
      padding: 5px;
      .inner {
        .image {
          position: relative;
          padding-bottom: 90%;
          overflow: hidden;
          margin-bottom: 20px;
          @include radius(5px);
          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h4 {
          font-family: "cMedium";
          font-size: 20px;
          text-transform: uppercase;
          color: #000;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}
.contact {
  padding-bottom: 0;
  .main_heading {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .col1 {
    width: 35%;
    padding-right: 40px;
    align-self: center;
    h3 {
      font-family: "cMedium";
    }
    ul {
      padding-left: 0;
      margin-top: 20px;
      li {
        list-style: none;
        &:first-child {
          margin-bottom: 20px;
        }
        .bold {
          display: flex;
          gap: 8px;
          align-items: center;
          margin-bottom: 8px;
        }
        h6 {
          font-family: "oSemiBold";
          margin-bottom: 0;
        }
        img {
          width: 22px;
        }
      }
    }
  }
  .col2 {
    width: 65%;
    p {
      margin-top: 10px;
      margin-bottom: 0;
      small {
        color: #00000094;
      }
    }
    .form {
      h3 {
        font-family: "cMedium";
        margin-bottom: 20px;
      }
      background: #f1eee9;
      border: 1px solid #f0f0f0;
      padding: 30px 20px;
      @include radius(10px);
      .txtGrp {
        margin-bottom: 10px;
      }
      button {
        margin-top: 20px;
        border: none;
      }
    }
  }
}
.sec_result {
  .main_heading {
    max-width: 368px;
    margin-bottom: 15px;
    padding-left: 10px;
    h2 {
      justify-content: left;
    }
  }
  .flex {
    .col1 {
      width: 20%;
      padding-right: 5px;
      .inside {
        background: #f1eee9;
        padding: 15px;
        @include radius(4px);
        .image {
          position: relative;
          padding-bottom: 97%;
          overflow: hidden;
          margin-bottom: 20px;

          img {
            @include pos;
            content: "";
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        ul {
          padding-left: 0;

          li {
            list-style: none;
            h5 {
              font-family: "oRegular";
              font-size: 15px;
              color: $primary-color;
              margin-bottom: 5px;
            }
            p {
              font-size: 14px;
            }
          }
        }
        a {
          color: $primary-color;
          font-family: "oBold";
          text-align: center;
          text-decoration: underline;
          @include trans;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
    .col2 {
      width: 80%;
      padding-left: 10px;
      .flex {
        .cols {
          width: calc(100% / 3);
          padding: 5px;
          .inner {
            background: #f1eee9;
            @include radius(4px);
            overflow: hidden;
            .image {
              position: relative;
              padding-bottom: 90%;
              overflow: hidden;
              margin-bottom: 20px;
              @include radius(5px);
              img {
                @include pos;
                content: "";
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              .tag {
                @include pos($l: 15px, $t: 15px, $b: null, $r: null);
                background: $primary-color;
                color: $white;
                padding: 3px 9px;
                font-size: 13px;
                @include radius(3px);
                p {
                  margin-bottom: 0;
                  font-family: "oMedium";
                }
              }
            }
            .content {
              padding: 15px;
              .site_btn {
                background: transparent;
                border: 1px solid #000;
                color: $black;
                @include radius(0);
              }
            }
            h4 {
              font-family: "cMedium";
              font-size: 20px;
              text-transform: uppercase;
              color: #000;
            }
          }
        }
      }
    }
  }
}
.sec_select {
  background: $black;
  color: $white;
  padding: 2rem 0;
  margin-bottom: 10px;
  .col1 {
    width: 78%;
    padding-right: 185px;
    align-self: center;
    p {
      margin-bottom: 0;
    }
  }
  .col2 {
    width: 22%;
    margin-left: auto;
    display: flex;
    justify-content: end;
    gap: 10px;
    .trans_btn {
      background: transparent;
      color: $white;
      border: 1px solid $white;
    }
    .site_btn {
      &:hover {
        background: $primary-color;
      }
    }
  }
}
.inspiration {
  .inside {
    background: #fff;
    max-width: 350px;
    text-align: center;
    padding: 27px 30px;
    margin: 0 auto;
    @include radius(5px);
    h3 {
      font-family: "cMedium";
    }
    .upload-wrapper {
      border: 1px solid #929292;
      .closeBtn {
        padding: 10px 0;
        font-family: "oSemiBold";
        border-top: 1px solid #929292;
        cursor: pointer;
      }
      @include radius(5px);
      margin-top: 30px;
      .icon {
        width: 78px;
        display: block;
        margin: 19px auto;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .upload-box {
      max-width: 213px;
      margin: 0 auto;
      input[type="file"] {
        display: none;
      }
      span {
        font-size: 13px;
        color: #0000007d;
      }
      p {
        margin-bottom: 5px;
      }
      .content {
        margin-bottom: 15px;
        margin-top: 33px;
      }
    }
  }
}
.ai_help {
  .inside {
    max-width: 850px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    position: relative;
    @include radius(5px);
    h3 {
      font-family: "cMedium";
      margin-bottom: 5px;
    }
    p {
      margin-bottom: 25px;
    }
    .input {
      color: #000000a6;
      font-size: 13px;
      height: 11rem;
    }
    .Btn {
      display: flex;
      justify-content: end;
      margin-top: 30px;
      button {
        border: none;
      }
    }
  }
}
.sub_banner {
  background-image: url(/images/about_bg.png);
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 370px;

  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    @include pos;
    background: $black;
    content: "";
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }
  .inner {
    max-width: 420px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: "cBold";
      color: $white;
      font-size: 50px;
    }
    p {
      color: $white;
    }
  }
}
.about {
  .col1 {
    width: 59%;
    align-self: center;
    h2 {
      font-family: "cBold";
      margin-bottom: 20px;
      font-size: 40px;
    }
  }
  .col2 {
    width: 41%;
    .image {
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;
      @include radius(5px);
      img {
        @include pos;
        content: "";
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &.sec_perfect {
    margin-bottom: 8rem;
    padding: 5rem;
    background: #461a02;
    .flex {
      flex-direction: row-reverse;
      .col1 {
        padding-left: 50px;
        color: $white;
        h2 {
          color: $white;
        }
        a {
          color: $white;
        }
      }
      .col2 {
        .image {
          padding-bottom: 64%;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
  &.tail_sec {
    .col1 {
      padding-right: 50px;
      ul {
        padding-left: 0;
        margin-top: 15px;
        li {
          position: relative;
          padding-bottom: 10px;
          list-style: none;
          svg {
            fill: $primary-color;
            padding-right: 7px;
          }
        }
      }
    }
  }
  &.sec_vision {
    background: #d7cfc2;
    .flex {
      flex-direction: row-reverse;
      .col1 {
        padding-left: 50px;
        .cta {
          width: fit-content;
          margin-top: 20px;
        }
      }
      .col2 {
        .image {
          padding-bottom: 64%;
          img {
            object-fit: contain;
          }
        }
      }
    }
  }
  &.sec_choose {
    .col1 {
      ul {
        padding-left: 0;
        margin-top: 20px;
        li {
          list-style: none;
          padding-bottom: 8px;
          &:last-child {
            padding-bottom: 0;
          }
          h5 {
            font-family: "oSemiBold";
            font-size: 17px;
            color: $primary-color;
          }
        }
      }
    }
  }
}
.how_work {
  padding-bottom: 0;
  .text {
    max-width: 595px;
    text-align: center;
    margin: 0 auto 50px;
  }
  .flex {
    margin-bottom: 5rem;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
    .col1 {
      width: 50%;
      .image {
        position: relative;
        padding-bottom: 70%;
        overflow: hidden;
        @include radius(5px);
        img {
          @include pos;
          content: "";
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .col2 {
      width: 50%;
      padding: 0 8rem;
      align-self: center;
      h2 {
        font-family: "cBold";
        margin-bottom: 20px;
        font-size: 40px;
      }
      h6 {
        font-family: "cBold";
        color: $primary-color;
        font-size: 25px;
      }
    }
  }
}
.two_grids {
  padding-bottom: 0;
  .cols {
    width: 50%;
    padding: 10px;
    .inner {
      background: #f1eee9;
      padding: 6rem 5rem;
      @include radius(5px);
      height: 100%;
      h2 {
        font-family: "cBold";
        font-size: 40px;
        margin-bottom: 20px;
      }
      ul {
        padding-left: 0;
        margin-top: 15px;
        li {
          position: relative;
          padding-bottom: 10px;
          list-style: none;
          &:last-child {
            padding-bottom: 0;
          }
          svg {
            fill: $primary-color;
            padding-right: 7px;
          }
        }
      }
    }
  }
}
.need {
  padding-bottom: 5rem;
  .main_heading {
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
    h2 {
      margin-bottom: 20px;
    }
  }
}
.sec_start {
  padding-top: 0;
  .col1 {
    width: 35%;
    padding-right: 50px;

    padding: 7rem 4rem;
    @include radius(5px);
    align-self: center;
    position: relative;
    &::before {
      @include pos;
      background: #f1eee9;
      width: 120%;
      height: 100%;
      content: "";
      z-index: 1;
    }
    .inner {
      position: relative;
      z-index: 2;
      h2 {
        font-family: "cBold";
        font-size: 44px;
      }
      ul {
        padding-left: 0;
        margin-top: 15px;
        li {
          position: relative;
          padding-bottom: 10px;
          list-style: none;
          svg {
            fill: $primary-color;
            padding-right: 7px;
          }
        }
      }
    }
  }
  .col2 {
    width: 65%;
    .image {
      position: relative;
      padding-bottom: 70%;
      overflow: hidden;
      @include radius(5px);
      img {
        @include pos;
        content: "";
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.sec_how {
  padding-top: 0;
  .flex {
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    &:nth-child(even) {
      flex-direction: row-reverse;

      .col2 {
        padding-right: 60px;
        padding-left: 0;
      }
    }
    .col1 {
      width: 65%;
      ul {
        padding-left: 0;
        li {
          width: 100%;
          padding: 8px;
          margin-bottom: 8px;
          border: 1px solid #72243d54;
          list-style: none;
          display: flex;
          align-items: center;
          @include radius(3px);
          &.head {
            background: $primary-color;
            color: $white;
          }
          &:last-child {
            margin-bottom: 0;
          }
          p {
            margin-bottom: 0;
            &:first-child {
              width: 30%;
            }
            &:last-child {
              width: 70%;
            }
          }
        }
      }
    }
    .col2 {
      width: 35%;
      align-self: center;
      padding-left: 60px;
    }
  }
}
.sec_enter {
  padding-bottom: 0;
  padding-top: 0;
  .col1 {
    width: 45%;
    .image {
      position: relative;
      padding-bottom: 80%;
      overflow: hidden;
      @include radius(5px);
      img {
        @include pos;
        content: "";
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .col2 {
    width: 55%;
    padding-left: 30px;
    align-self: center;
    .main_heading {
      h2 {
        justify-content: flex-start;
      }
    }
    ul {
      padding-left: 0;
      margin-top: 15px;
      li {
        position: relative;
        padding-bottom: 10px;
        list-style: none;
        &:last-child {
          padding-bottom: 0;
        }
        svg {
          fill: $primary-color;
          padding-right: 7px;
        }
      }
    }
    .cta {
      margin-top: 20px;
      width: fit-content;
    }
  }
}
.sec_testi {
  padding-bottom: 0;
  .main_heading {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
  }
  .block2 {
    margin-top: 20px;
  }
  .block {
    h2 {
      font-family: "cBold";
      font-size: 42px;
      padding-left: 10px;
    }
    .flex {
      .cols {
        width: calc(100% / 2);
        padding: 10px;
        .inner {
          background: #f1eee9;
          @include radius(4px);
          height: 100%;
          padding: 2.5rem 2rem;
          display: flex;
          gap: 10px;
          align-items: center;
          .image_area {
            width: 30%;
            text-align: center;
            h6 {
              margin-bottom: 5px;
              font-family: "SemiBold";
            }
            p {
              margin-bottom: 0;
            }
            .image {
              width: 80px;
              height: 80px;
              @include radius(100%);
              display: block;
              overflow: hidden;
              margin: 0 auto 15px;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
              }
            }
          }
          .text {
            width: 70%;
            p {
              margin-bottom: 0;
            }
            h5 {
              font-family: "SemiBold";
            }
            .quotes {
              display: block;
              width: 40px;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }
}
.gallery {
  .main_heading {
    max-width: 798px;
    margin-bottom: 30px;
    h2 {
      justify-content: flex-start;
    }
  }
  .tabs {
    padding-bottom: 10px;
    border-bottom: 1px solid #d7cfc2;
    margin-bottom: 21px;
    .tab {
      background: no-repeat;
      border: none;
      font-family: "oSemiBold";
      padding: 0 15px;
      position: relative;
      &::before {
        @include pos($t: null, $b: -12px);
        width: 0%;
        content: "";
        height: 3px;
        background: $primary-color;
      }
      &:first-child {
        padding-left: 0;
      }
      &.active {
        color: $primary-color;
        &::before {
          width: 80%;
          margin: 0 auto;
        }
        &:first-child {
          &::before {
            margin: unset;
            width: 60%;
          }
        }
      }
    }
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
    .cols {
      width: calc(100% / 3);
      padding: 5px;
      .image {
        position: relative;
        padding-bottom: 100%;
        overflow: hidden;
        @include radius(5px);
        img {
          @include pos;
          content: "";
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }
}
.terms {
  .main_heading {
    text-align: center;
    max-width: 512px;
    margin: 0 auto 30px;
  }
  .cols {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
